<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cwspace">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cwspace">
        <activity
            android:name=".ui.MaklerPackage.MaInfoRoom"
            android:label="info ma room"
            android:parentActivityName=".ui.activities.Makler"/>
        <activity
            android:name=".ui.CoWorkerPackage.CwInfoRoom"
            android:label="info cw room"
            android:parentActivityName=".ui.activities.CoWorker"/>
        <activity
            android:name=".ui.activities.CoWorker"
            android:label="CoWorker"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.Makler"
            android:label="Makler"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>